<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <h1> Игры </h1>
    <ul>
        <li> {{game_1}} --------------------------------> <button> КУПИТЬ </button></li>
        <li> {{game_2}} --> <button> КУПИТЬ </button></li>
        <li> {{game_3}} ------------------------> <button> КУПИТЬ </button></li>
    </ul>
</body>
<body>
    <button onclick="window.location.href='/platform/'"> Главная </button>
</body>
<body>
    <button onclick="window.location.href='/platform/cart/'"> Корзина </button>
</body>
</html>